body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
}

#main h1 {
	font-family: 'Special Elite', serif;
	font-weight: normal;
	font-style: normal;
}

#sidebar h2, #main h2, #main h3, #main h4, #main p.centre {
	font-family: 'Ovo', serif;
	font-weight: bold;
}