@import "compass";
@import "normalize";
@import "typography";

* {
  @include box-sizing(border-box);
}

body {
  background: #fefefe;
  width: 960px;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;
  top: 0;
  left: 280px;
  width: 680px;
  img {
    max-width: 100%;
  }
}

.centre { text-align: center !important; }
#main h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 0;
}
#main h1.bigsoustitre {
  font-size: 2em;
  color: #555;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#main h2.centre {
  //text-decoration: underline;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
#main h2:not(.centre), #main h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#main p.centre {
  font-size: 1.2em;
}

#main p {
  margin: 20px 0;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 240px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  font-size: 1em;
}

#sidebar h2 {
  //text-transform: uppercase;
  color: #333;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
}

/* #footer {
  position: fixed;
  bottom: 0;
  display: block !important;
  width: 100% !important;
  padding: 10px;
  text-align: center !important;
  background-color: #fefefe;
  a {
    font-size: .8em;
    color: #ccc;
  }
} */

.footnotes {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  font-size: .8em;
}